
_site/research/index.html
_site/index.html
_site/images/social/twitter.png
_site/images/social/tweeter2.svg
_site/images/social/tweeter2-3.svg
_site/images/social/tweeter2-2.svg
_site/images/social/tweeter.svg
_site/images/social/gmail.svg
_site/images/social/github.png
_site/images/social/email.svg
_site/images/research/14.png
_site/images/research/13.png
_site/images/research/05.jpg
_site/images/12.png
_site/images/11.png
_site/images/10.png
_site/images/07.jpg
_site/images/06.png
_site/images/04.jpg
_site/images/01.jpg
_site/images/00.jpg
_site/feed.xml
_site/etc/index.html
_site/cv/index.html
_site/CNAME
_site/assets/minima-social-icons.svg
_site/assets/main.css.map
_site/assets/main.css
_site/assets/index.js
_site/404.html
_includes/header.html
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/ff/02bbeff2694dde523fd326d404f2b427b728dbe9db933c5c3dbe15453870e6
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/6c/22d58866082d1eb23bfd7f4cd0726ec7e79e90212a31ba56e69d8053d202b3
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/68/48f7d8883fca1be3a84257f8c3700ca72aac6d24e7d9b6f1f70cbe77ecee7e
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/4e/fca0d10c5feb8e9b35eb1d994f2905bb71714e6a271f511d713b539ea5faa1
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/34/aed670d82075029840a88c0934e718d8da3791fa654350ec125e51f2baa15a
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/26/e5bac6cee1540867aa0881e5f63c34c54320c71531b7d508a9ce7101cebf71
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/0b/6fb3a095ad40f5b81759595442cf3a0674a8fcf897bd4bcbfbb7fd6c6041a9
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/00/ddacdf53f9e599d38e324948253f3c4dadf4218aebaa86612b24fd15a06047
