<footer class="site-footer h-card">
<data class="u-url" href="/"></data>

<div class="wrapper">

<h2 class="footer-heading">Contact Me</h2>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <ul class="social-media-list">
      <li><a href="mailto:IRF229@nyu.edu" target="_blank"><img src="/images/social/email.svg" height=35px></a></li>
    </ul>
  </div>

  <div class="footer-col footer-col-2">
    <ul class="social-media-list">
      <li><a href="https://github.com/IanRFerguson" target=_blank><img src="/images/social/github.png" height=35px></a>
    </ul>
  </div>

  <div class="footer-col footer-col-3">
    <ul class="social-media-list">
      <li><a href="https://www.twitter.com/human_cactus" target=_blank><img src="/images/social/twitter.png" height=35px></a></li>
    </ul>
  </div>

</div>

</div>

</footer>
