<footer class="site-footer h-card">
<data class="u-url" href="/"></data>

<div class="wrapper">

<h2 class="footer-heading">Ian Richard Ferguson</h2>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <ul class="contact-list">
      <li class="p-name">Computational Social Research</li><li><a class="u-email" href="mailto:IRF229@nyu.edu">IRF229@nyu.edu</a></li></ul>
  </div>

  <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/IanRFerguson" target=_blank><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">IanRFerguson</span></a></li><li><a href="https://www.twitter.com/human_cactus" target=_blank><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">human_cactus</span></a></li></ul>
</div>
</div>

</div>

</footer>
