---
---

@import "minima";

// PAGES
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-45deg, #0015BC 50%, #FF0000 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

/*    Index     */
.home-box {
  display: flex;
  padding-top: 75px;
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

.home-left {
  float: left;
  padding-right: 20px;
}

.home-left img {
  border-radius: 50%;
  width: 1000px;
  object-fit: scale-down;
}

.home-right {
  float: right;
  text-align: right;
  padding-left: 45px;
  padding-top: 35px;
  width: 80%;
}

.home-right h1 {
  font-weight: bold;
}

.contact-me {
  float: right;
  padding-top: 10px;
}

.contact-icon {
  height: 40px;
  padding-left: 15px;
}

/*     Research     */
.post-header {
  margin-bottom: 0px;
}

.project-header {
  padding-bottom: 30px;
}

.project-body {
  padding: 50px;
}

.project-plot {
  padding-top: 20px;
}

/*     etc      */
.etc-container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.etc-container img {
  object-fit: scale-down;
}

.etc-link {
  padding: 5px;
  object-fit: scale-down;
}

// GLOBAL

/*    FOOTER OVERRIDE   */
.site-footer {
  padding: 20px 0;
}

.footer-heading {
  text-align: center;
}

.footer-col-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-col {
  display: inline-block;
  width: auto;
  padding: 0 20px;
}

.social-media-list {
  padding-left: 10px;
  padding-right: 10px;
}

ul li {
  list-style: none;
  display: inline-block;
}

// FOR MOBILE
@media only screen and (max-width: 600px) {

  .home-box {
    display: contents;
    position: absolute;
  }

  .home-left {
    padding-left: 0px;
    padding-right: 0px;
    float: none;
    justify-content: center;
  }

  .home-left img {
    border-radius: 0%;
  }

  .home-right {
    margin-left: auto;
    margin-right: auto;
    width:80%;
    text-align: center;
    float: none;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .contact-me {
    float: none;
  }

  .contact-icon {
    padding-right: 20px;
    height: 40px;
    justify-content: center;
    object-fit: scale-down;
  }

  .contact-me ul {
    margin-left: auto;
  }

  // Research
  .project-header {
    text-align: center;
  }

  .project-body {
    width: 80%;
    padding-left: 25px;
    text-align: center;
  }

}
