---
---

@import "minima";

/*    FOOTER OVERRIDE   */
.site-footer {
  padding: 20px 0;
}

.footer-heading {
  text-align: center;
}

.footer-col-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  margin-left:  inherit;
  text-align: center;
}

.footer-col {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
