{% extends "base.html" %}

<body>
    {% block content %}
    <div class="entry_box">
        <h1>Ian's Food Diary</h1>
        <h3>Taking care of your body is cool and good</h3>
    </div>

    <div class="entry_box">
        <ul>
            <li>
                <a href="{{ url_for('food.log_all_days') }}" class="entry_display">View All Logs</a>
            </li>
            {% for entry in entries %}
            <li>
                <a href="{{ url_for('food.log', date_stamp=entry) }}" class="entry_display">{{ entry }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
</body>