<html lang="en">
{% extends "base.html" %}

<body>
      {% block content %}
      <div class="wrapper">
            <div class="index_box">
                  <div class="index_left">
                        <img src="{{ url_for('static', filename='images/ian_old.jpg') }}" class="howdy_ian">
                  </div>
                  <div class="index_right">
                        <div class="about_me_content">
                              <h2 style="padding-top: 35px;">
                                    <b>Howdy! I'm Ian
                                    </b>
                              </h2>
                              <ul style="about_me_box">
                                    <li class="about_me_list">
                                          🗽 I'm a developer based in New York
                                    </li>
                                    <li class="about_me_list">
                                          🗳️ I develop data pipelines, tools, and applications to help progressive
                                          political organizations build power
                                    </li>
                                    <li class="about_me_list">
                                          🧠 I'm a former academic and love learning about novel ways to model the
                                          social
                                          brain!
                                    </li>
                                    <li class="about_me_list">
                                          🏀 My other passions include thinking long and hard about the New York
                                          Knickerbockers
                                          and <a href="https://www.instagram.com/human_cactus/" target="_blank"">photographing the world around me</a>
                                    </li>
                              </ul>
                        </div>
                        <div class=" contact_me_content">
                                                <h4>Connect With Me</h4>
                                                <ul class="contact_me_icons">
                                                      <!-- Github -->
                                                      <a href="https://github.com/IanRFerguson" target="_blank">
                                                            <img src="{{ url_for('static', filename='social/bold_git.png') }}"
                                                                  class="contact_button">
                                                      </a>

                                                      <!-- Twitter -->
                                                      <a href="https://twitter.com/human_cactus" target="_blank">
                                                            <img src="{{ url_for('static', filename='social/bold_twitter.png') }}"
                                                                  class="contact_button">
                                                      </a>

                                                      <!-- LinkedIn -->
                                                      <a href="https://www.linkedin.com/in/ianrferguson/"
                                                            target="_blank">
                                                            <img src="{{ url_for('static', filename='social/bold_linkedin.svg') }}"
                                                                  class="contact_button">
                                                      </a>
                                                </ul>

                        </div>
                  </div>
            </div>
            <!-- Footer -->
            <footer class="footer" id="thanks">
                  <p>
                        Made with ❤️ in San Francisco
                  </p>
            </footer>
      </div>
      {% endblock %}

      {% block scripts %}
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

      <script>
            $(document).ready(function () {
                  $('#navbarNav').collapse();
            });
      </script>
      <script src="{{ url_for('static', filename='ripper.js') }}"></script>
      {% endblock %}
</body>

</html>